body{

background-color: lightblue;
}  
#titulo{
font-size: 30px;
text-align: center;
color: rgb(172, 64, 82);
}
.texto { 
font-size: 20px;
text-align: center;
color: black;
}
#avatar {
background-color: darkmagenta;
width: 30%;
display: block;
padding: 10px;
margin: auto;
}
.avatar {
background-image: linear-gradient(pink);
color: blue;
}
.banner {
width: 10%;
display: block;
}
  